@import '../abstracts/variables.scss';

.background {
  background-color: black;
}

.blue {
  color: $blue;
}

.dark-blue {
  color: $darkBlue;
}

.light-blue {
  color: $lightBlue;
}

.black-color {
  color: $black;
}

.white-color {
  color: $white;
}