.ButtonCardP {
  background-color: $darkBlue;
  color: $white;
  border-color: $darkBlue;
  width: 14em;
}

.ButtonCardP:hover {
  background-color: $blue;
  color: $white;
  border-color: $darkBlue
}


.cardModel {
  margin: 20px;
}


.margin10 {
  margin: 20px;

}