

.class-header {
  color: $darkBlue;
  font-size: 20px;
  font-weight: 10000;
}

.subtotal {
  color: $red;
}

.cart {
  border-color: $lightBlue;
  padding: 5% 5% 0 5%;
}

.cart:hover {
  border-color: $lightBlue !important;
  background-color: $white !important;
}

.lightblue {
  background-color: $darkBlue;
  color: $white;
}

.lightblue:hover {
  background-color: $blue;
  color: $white;
}

.fillin0 {
  height: 20vh
}

.ButtonKeep {
  background-color: $white;
  color: $darkBlue;
  border-color: $darkBlue;
  width: 100%;
}

.ButtonKeep:hover {
  background-color: $white;
  color: $blue;
  border-color: $blue
}
