.cart {
  margin: 5%;
}

.class-header {
  color: $darkBlue;
  font-size: 20px;
  font-weight: 10000;
}

.subtotal {
  color: $red;
}

.cart {
  border-color: $lightBlue;
}

.cart:hover {
  border-color: $lightBlue !important;
  background-color: $white !important;
}

.lightblue {
  background-color: $darkBlue;
  color: $white;
}

.lightblue:hover {
  background-color: $blue;
  color: $white;
}