@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import '../components/navbar/Navbar.scss';
@import '../components/categorylist/CategoryList.scss';
@import '../components/footer/Footer.scss';
@import '../components/auth/AuthForm.scss';
@import '../components/counter/Counter.scss';
@import '../components/productcard/ProductCard.scss';
@import '../components/sidebar/Sidebar.scss';
@import '../routes/formproduct/FormProduct.scss';
@import  '../routes/home/home.scss';
@import '../routes/products/Products.scss';
@import '../routes/productdetail/ProductDetail.scss';

.ButtonPG {
  background-color: $darkBlue;
  color: $white;
  border-color: $darkBlue
}

.ButtonPG:hover {
  background-color: $blue;
  color: $white;
  border-color: $darkBlue
}

.white {
  color: $white
}

.containerCol {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.containerRow {
  display: flex;
  flex-flow: row wrap;
  
}
