@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import '../components/navbar/Navbar.scss';
@import '../components/categorylist/CategoryList.scss';
@import '../components/footer/Footer.scss';
@import '../components/auth/AuthForm.scss';
@import '../components/counter/Counter.scss';
@import '../components/productcard/ProductCard.scss';
@import '../components/sidebar/Sidebar.scss';
@import '../routes/formproduct/FormProduct.scss';
@import  '../routes/home/home.scss';
@import '../routes/products/Products.scss';
@import '../routes/adminpage/AdminPage.scss';
@import '../routes/adminproducts/AdminProducts.scss';
@import '../routes/productdetail/ProductDetail.scss';
@import '../routes/cart/Cart.scss';
@import '../routes/adminproductdetail/AdminProductDetail.scss';
@import '../routes/profileupdate/ProfileUpdate.scss';
@import '../routes/orders/Order.scss';

.ButtonPG {
  background-color: $darkBlue;
  color: $white;
  border-color: $darkBlue
}

.ButtonPG:hover {
  background-color: $blue;
  color: $white;
  border-color: $darkBlue
}

.white {
  color: $white
}

.blue {
  color: $blue
}

.containerCol {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.containerRow {
  display: flex;
  flex-flow: row wrap;
}

.body {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}