.nav-container {
  padding: 0 2%;
  height: 120px;
}

.container {
  justify-content: center !important;
}

.form {
  width: 70vh !important;
}

.nav-bg {
  background-color: $darkBlue;
}

.marg {
  margin: 10px;
}
