.footer-container {
  background-color: $darkBlue;
  position: absolute;
  bottom: 0;
}

.methods-container {
  text-align: center;
  padding: 1%;
  background-color: $white;
}

.side-container {
  background-color: $darkBlue;
}

.footer-container-1 {
  margin: 0 auto;
  padding: 1%;
}

.footer-links {
  display: block;
  color: $lightBlue;
  font-size: 0.9em;
}

.contact-text {
  margin: 0;
  padding: 0;
  color: $lightBlue;
  font-size: 0.9em;
}

.lb {
  color: $lightBlue;
  font-size: 0.9em;
}

.headerFoot {
  font-size: 1em;
  color: $lightBlue;
}

.botton-footer {
  text-align: center;
  padding: 1%;
}

.botton-footer-header {
  text-align: center;
  padding: 1%;
  font-size: 0.8em;
}

.footer-bg{
  background-color: $darkBlue
}

.align-center {
  align-items: center;
}